middleware_flows/app_auth.json
[{"id":"69f3ebc2.ab4e14","type":"subflow","name":"Validate app token","info":"","in":[{"x":50,"y":30,"wires":[{"id":"ef4e789c.1404a8"}]}],"out":[{"x":1198,"y":173,"wires":[{"id":"8fd7ae67.35e4f","port":0}]}]},{"id":"ef4e789c.1404a8","type":"function","z":"69f3ebc2.ab4e14","name":"Parse token","func":"var mongodb = global.get('mongodb');\n\nif(\"token\" in msg.req.headers){\n    msg.original_payload = msg.payload;\n    msg.payload = [msg.req.headers[\"token\"]];\n    return msg;    \n}\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":116,"wires":[["371b7fb3.9fb0e"]]},{"id":"371b7fb3.9fb0e","type":"switch","z":"69f3ebc2.ab4e14","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":391.75,"y":142.75,"wires":[["e3e8b34b.7ff7c"],["541069d.479d598"]]},{"id":"e3e8b34b.7ff7c","type":"function","z":"69f3ebc2.ab4e14","name":"Error message","func":"msg.payload = {\n    error : \"Must include token in headers\"\n};\nmsg.statusCode = 405;\nreturn msg;","outputs":1,"noerr":0,"x":852.25,"y":52.25,"wires":[["59c070e2.693df"]]},{"id":"fb6bb76f.4a72b8","type":"switch","z":"69f3ebc2.ab4e14","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":794.25,"y":263.25,"wires":[["76a25809.98a6d8"],["8fd7ae67.35e4f"]]},{"id":"59c070e2.693df","type":"http response","z":"69f3ebc2.ab4e14","name":"","x":1119.75,"y":59.5,"wires":[]},{"id":"8fd7ae67.35e4f","type":"function","z":"69f3ebc2.ab4e14","name":"Success message","func":"msg.payload = msg.original_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1078.5,"y":214,"wires":[[]]},{"id":"541069d.479d598","type":"redis-command","z":"69f3ebc2.ab4e14","server":"282e8103.3064fe","command":"get","name":"","topic":"","x":580.5,"y":193,"wires":[["fb6bb76f.4a72b8"]]},{"id":"76a25809.98a6d8","type":"function","z":"69f3ebc2.ab4e14","name":"Error message","func":"msg.payload = {\n    error : \"Token expired\"\n};\nmsg.statusCode = 405;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":123,"wires":[["59c070e2.693df"]]},{"id":"282e8103.3064fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"d8864fb7.9983d","type":"tab","label":"MySQL Auth app"},{"id":"6dbcb884.6dc768","type":"http in","z":"d8864fb7.9983d","name":"","url":"/api2/apps/auth/token","method":"post","swaggerDoc":"","x":141.6666717529297,"y":119.99999237060547,"wires":[["ec48c718.be23d8"]]},{"id":"ec48c718.be23d8","type":"function","z":"d8864fb7.9983d","name":"Validate data & set query","func":"var jsesc = global.get(\"jsesc\");\nif(\"appname\" in msg.payload && \"password\" in msg.payload){\n    msg.password = msg.payload[\"password\"];    \n    msg.topic = \"SELECT * FROM app where appname = '\"+jsesc(msg.payload[\"appname\"])+\"'\";\n}else{\n    \n}\n\nreturn msg;","outputs":"1","noerr":0,"x":389.5832824707031,"y":196.16664123535156,"wires":[["7b222bcb.a77f04"]]},{"id":"35544f03.5b91d","type":"http response","z":"d8864fb7.9983d","name":"Success","x":1704.75,"y":169.75,"wires":[]},{"id":"bed87fd1.66448","type":"switch","z":"d8864fb7.9983d","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":1044.5833358764648,"y":103.83332824707031,"wires":[["83161998.165748"],["be0889a1.10b788"]]},{"id":"1794c4dc.83d73b","type":"http response","z":"d8864fb7.9983d","name":"Error response","x":1407.1666793823242,"y":36.08332824707031,"wires":[]},{"id":"83161998.165748","type":"function","z":"d8864fb7.9983d","name":"Error message","func":"msg.statusCode = 405;\nmsg.payload = {\"message\":\"Error al autentificar\"};\nreturn msg;","outputs":1,"noerr":0,"x":1271.5832824707031,"y":100.49999523162842,"wires":[["1794c4dc.83d73b"]]},{"id":"be0889a1.10b788","type":"function","z":"d8864fb7.9983d","name":"Set redis data","func":"var uuidv1 = global.get(\"uuidv1\");\nvar uuidv5 = global.get(\"uuidv5\");\n//var uniqid = global.get(\"uniqid\");\nvar key = uuidv5(msg.payload[0][\"appname\"],uuidv1());\nvar value = msg.payload[0][\"appname\"];\nmsg.payload = [key,value]\nmsg.token = key;\nreturn msg;","outputs":1,"noerr":0,"x":1144.41650390625,"y":188.5,"wires":[["31969a81.aeb036"]]},{"id":"dbdfc8aa.462298","type":"http in","z":"d8864fb7.9983d","name":"","url":"/api2/apps","method":"put","swaggerDoc":"","x":128.25000762939453,"y":622.8333377838135,"wires":[["e9344585.4b9d28"]]},{"id":"8a113778.a094b8","type":"http response","z":"d8864fb7.9983d","name":"","x":1607.2500228881836,"y":550.2500095367432,"wires":[]},{"id":"37697f10.94985","type":"http request","z":"d8864fb7.9983d","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api2/apps/auth/token","tls":"","x":803.25,"y":371.8333435058594,"wires":[["52553455.b971bc"]]},{"id":"afe7260b.28cfc8","type":"inject","z":"d8864fb7.9983d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":409.25,"y":378.8333435058594,"wires":[["2a53bfa4.15221"]]},{"id":"e8a900e6.4c99e","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"false","x":1157.2500228881836,"y":388.8333339691162,"wires":[]},{"id":"2a53bfa4.15221","type":"function","z":"d8864fb7.9983d","name":"Credentials","func":"msg.payload = {\n    \"appname\" : \"psotoapps2\",\n    \"password\" : \"napsis123\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":363.3333435058594,"wires":[["37697f10.94985"]]},{"id":"9d9b8ac6.fa43e8","type":"function","z":"d8864fb7.9983d","name":"Set data","func":"\n\nmsg.headers = {\"token\": '0c89cec2-d3ee-5621-81a3-9e4a8c020f70'};\nmsg.payload = {\n    \"appname\" : \"psotoapps3\",\n    \"password\" : \"napsis123\",\n    \"name\" : \"Patricio Soto\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":797.25,"y":786.8333282470703,"wires":[["d6c9430d.a390c"]]},{"id":"fb2f20eb.03149","type":"inject","z":"d8864fb7.9983d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":582.7500152587891,"y":728.0833377838135,"wires":[["9d9b8ac6.fa43e8"]]},{"id":"d6c9430d.a390c","type":"http request","z":"d8864fb7.9983d","name":"","method":"PUT","ret":"txt","url":"http://localhost:1880/api2/apps","tls":"","x":1003.25,"y":783.8333282470703,"wires":[["fe3d3e2.dc6d2c"]]},{"id":"8f9c056f.4ff728","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"false","x":1361.0000228881836,"y":705.0833387374878,"wires":[]},{"id":"52295906.520428","type":"comment","z":"d8864fb7.9983d","name":"Prueba de autenticación","info":"","x":781.5000152587891,"y":309.8333339691162,"wires":[]},{"id":"14efa099.50ac7f","type":"comment","z":"d8864fb7.9983d","name":"Definición método de autenticación","info":"","x":214.25000762939453,"y":40.583330154418945,"wires":[]},{"id":"93d1e0a1.e7884","type":"comment","z":"d8864fb7.9983d","name":"Prueba de Ingreso de app","info":"","x":890.25,"y":730.8333282470703,"wires":[]},{"id":"76f57e5c.55135","type":"comment","z":"d8864fb7.9983d","name":"Defnición Ingreso de app","info":"","x":186.75000762939453,"y":535.3333368301392,"wires":[]},{"id":"6f3a6f17.00795","type":"function","z":"d8864fb7.9983d","name":"Build query","func":"var bcryptjs = global.get('bcryptjs');\nvar jsesc = global.get(\"jsesc\");\n\nmsg.payload[\"password\"] = bcryptjs.hashSync(msg.payload[\"password\"], 8);\nmsg.topic = \"INSERT INTO app(appname,password,name) values('\"+jsesc(msg.payload[\"appname\"])+\"','\"+jsesc(msg.payload[\"password\"])+\"','\"+jsesc(msg.payload[\"name\"])+\"')\";\n\nreturn msg;","outputs":1,"noerr":0,"x":957.5000152587891,"y":543.7500076293945,"wires":[["f684383b.24e4a8"]]},{"id":"7ab8421.d7287bc","type":"function","z":"d8864fb7.9983d","name":"Remove password hashed","func":"delete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1374.0000076293945,"y":525.2500152587891,"wires":[["8a113778.a094b8"]]},{"id":"7cb2a652.d4d478","type":"function","z":"d8864fb7.9983d","name":"Compare ","func":"var bcryptjs = global.get('bcryptjs');\nif(msg.payload.length == 1){\n    if (!bcryptjs.compareSync(msg.password,msg.payload[0].password)){\n        msg.payload = null;\n    }    \n}else{\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":916.9166641235352,"y":166.91666316986084,"wires":[["bed87fd1.66448"]]},{"id":"52553455.b971bc","type":"json","z":"d8864fb7.9983d","name":"","x":967.3750152587891,"y":349.8333339691162,"wires":[["e8a900e6.4c99e"]]},{"id":"1b7316ce.c0b3d9","type":"catch","z":"d8864fb7.9983d","name":"Catch insert app","scope":null,"x":140,"y":1740,"wires":[["fd2ce7b9.704ef8"]]},{"id":"ffc1de26.6c8c3","type":"http response","z":"d8864fb7.9983d","name":"","x":586.8750038146973,"y":1738.75,"wires":[]},{"id":"fd2ce7b9.704ef8","type":"function","z":"d8864fb7.9983d","name":"Status code & message","func":"msg.payload = {\n    \"error\" : msg.error,\n    \"payload\" : msg.payload\n}\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":386.25001525878906,"y":1731.2500247955322,"wires":[["ffc1de26.6c8c3"]]},{"id":"fe3d3e2.dc6d2c","type":"json","z":"d8864fb7.9983d","name":"","x":1166.7500228881836,"y":741.0833396911621,"wires":[["8f9c056f.4ff728"]]},{"id":"e497815f.ffb47","type":"comment","z":"d8864fb7.9983d","name":"Error handling","info":"","x":134.50000762939453,"y":1665.3333740234375,"wires":[]},{"id":"b4d1d259.f7a0a","type":"http in","z":"d8864fb7.9983d","name":"","url":"/api2/apps/:id","method":"post","swaggerDoc":"","x":144.25,"y":974.8333282470703,"wires":[["a28fa6e5.f2d798"]]},{"id":"e5a39840.a44138","type":"function","z":"d8864fb7.9983d","name":"Remove password hashed","func":"delete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1613,"y":961,"wires":[["eab7663f.7ce798"]]},{"id":"eab7663f.7ce798","type":"http response","z":"d8864fb7.9983d","name":"","x":1826.25,"y":913.5,"wires":[]},{"id":"ab6e60a5.6384","type":"inject","z":"d8864fb7.9983d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":595.5,"y":1051.0833282470703,"wires":[["9502ed07.4d9bb"]]},{"id":"9502ed07.4d9bb","type":"function","z":"d8864fb7.9983d","name":"Set data","func":"msg.headers = {\"token\": '0c89cec2-d3ee-5621-81a3-9e4a8c020f70'};\nmsg.payload = {\n    \"appname\" : \"psotoapps2\",\n    \"password\" : \"napsis1234\",\n    \"name\" : \"Patricio Soto\"\n}\nmsg.app_id = \"59650a3470331393369dba2b\";\nreturn msg;","outputs":1,"noerr":0,"x":809.9999847412109,"y":1109.8333187103271,"wires":[["2b8ab33.4cd474c"]]},{"id":"2b8ab33.4cd474c","type":"http request","z":"d8864fb7.9983d","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api2/apps/{{{app_id}}}","tls":"","x":1015.9999847412109,"y":1106.8333187103271,"wires":[["a67e8d8f.a720d"]]},{"id":"a67e8d8f.a720d","type":"json","z":"d8864fb7.9983d","name":"","x":1179.5000076293945,"y":1064.083330154419,"wires":[["777f95d7.fa39ac"]]},{"id":"777f95d7.fa39ac","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"false","x":1373.7500076293945,"y":1028.0833292007446,"wires":[]},{"id":"3415a13b.375ebe","type":"comment","z":"d8864fb7.9983d","name":"Prueba de modificación de app","info":"","x":908,"y":1034.8333282470703,"wires":[]},{"id":"bb1881d6.82ea1","type":"comment","z":"d8864fb7.9983d","name":"Defnición modificación de app","info":"","x":239.25000762939453,"y":866.0833415985107,"wires":[]},{"id":"6de2691e.1d6b68","type":"http in","z":"d8864fb7.9983d","name":"","url":"/api2/apps/:appname?","method":"get","swaggerDoc":"","x":163.62500762939453,"y":1312.333348274231,"wires":[["4e57c2a7.78d6ac"]]},{"id":"8756ab65.efba98","type":"comment","z":"d8864fb7.9983d","name":"Defnición obtención de app","info":"","x":191.75,"y":1227.3333282470703,"wires":[]},{"id":"d7412b96.65a388","type":"http response","z":"d8864fb7.9983d","name":"","x":2067,"y":1293.0833740234375,"wires":[]},{"id":"e6799a9d.dca3a8","type":"inject","z":"d8864fb7.9983d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":382.9999694824219,"y":1436.3333740234375,"wires":[["eeb19c3d.89cd3"]]},{"id":"7307aad5.37a084","type":"http request","z":"d8864fb7.9983d","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api2/apps","tls":"","x":756.7500152587891,"y":1454.8333506584167,"wires":[["9ce2e5a0.efdd48"]]},{"id":"815c641f.7c8c08","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"false","x":1065.750015258789,"y":1419.833351135254,"wires":[]},{"id":"eeb19c3d.89cd3","type":"function","z":"d8864fb7.9983d","name":"Set data","func":"msg.headers = {\"token\": '0c89cec2-d3ee-5621-81a3-9e4a8c020f70'};\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":1447.3333282470703,"wires":[["7307aad5.37a084"]]},{"id":"9ce2e5a0.efdd48","type":"json","z":"d8864fb7.9983d","name":"","x":924.2500152587891,"y":1438.5833492279053,"wires":[["815c641f.7c8c08"]]},{"id":"2fa1450a.87eeea","type":"comment","z":"d8864fb7.9983d","name":"Prueba de obtención de todos los apps","info":"","x":719.2500152587891,"y":1386.0833492279053,"wires":[]},{"id":"7d40143b.e0d5bc","type":"http request","z":"d8864fb7.9983d","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api2/apps/psotoapps2","tls":"","x":744.25,"y":1574.8333282470703,"wires":[["9ce9972e.9c17a8"]]},{"id":"891757c.24b68a8","type":"function","z":"d8864fb7.9983d","name":"Set data","func":"msg.headers = {\"token\": '0c89cec2-d3ee-5621-81a3-9e4a8c020f70'};\nreturn msg;","outputs":1,"noerr":0,"x":575.4999847412109,"y":1567.3333058357239,"wires":[["7d40143b.e0d5bc"]]},{"id":"9ce9972e.9c17a8","type":"json","z":"d8864fb7.9983d","name":"","x":911.75,"y":1558.5833268165588,"wires":[["d96593d2.d3a55"]]},{"id":"1ba9b374.7a023d","type":"inject","z":"d8864fb7.9983d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":422.49996185302734,"y":1570.3333268165588,"wires":[["891757c.24b68a8"]]},{"id":"d96593d2.d3a55","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"false","x":1053.25,"y":1539.8333287239075,"wires":[]},{"id":"603c64e3.ddc04c","type":"function","z":"d8864fb7.9983d","name":"Remove password hashed","func":"for (i in msg.payload){\n    delete msg.payload[i][\"password\"];    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1100.25,"y":1299.8333740234375,"wires":[["ce0dac3f.22ab1"]]},{"id":"935cd12.bb98e3","type":"comment","z":"d8864fb7.9983d","name":"Prueba de obtención de un app","info":"","x":699.25,"y":1511.8333282470703,"wires":[]},{"id":"5cef52fc.3fe99c","type":"mysql","z":"d8864fb7.9983d","mydb":"bcbc1f18.e5fe2","name":"","x":735.8332901000977,"y":184.99999904632568,"wires":[["7cb2a652.d4d478"]]},{"id":"7b222bcb.a77f04","type":"switch","z":"d8864fb7.9983d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":570.8333129882812,"y":123.33334350585938,"wires":[["74f9c68b.7f8a78"],["5cef52fc.3fe99c"]]},{"id":"74f9c68b.7f8a78","type":"function","z":"d8864fb7.9983d","name":"Error message","func":"msg.statusCode = 400;\nmsg.payload = {\"message\":\"appname & password requeridos\"};\nreturn msg;","outputs":1,"noerr":0,"x":828.3333511352539,"y":53.333330154418945,"wires":[["1794c4dc.83d73b"]]},{"id":"b7d4a68e.9f1448","type":"function","z":"d8864fb7.9983d","name":"Validate data","func":"msg.error = true;\nif(\"password\" in msg.payload & \"appname\" in msg.payload  & \"name\" in msg.payload ){\n    msg.error = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":568.7500076293945,"y":520.0000076293945,"wires":[["94284693.0b2b58"]]},{"id":"94284693.0b2b58","type":"switch","z":"d8864fb7.9983d","name":"","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":770.6250152587891,"y":478.75000762939453,"wires":[["f66af84.601d408"],["6f3a6f17.00795"]]},{"id":"f66af84.601d408","type":"function","z":"d8864fb7.9983d","name":"Error message","func":"msg.statusCode = 400;\nmsg.payload = {\"message\":\"appname & name & password requeridos\"};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":440,"wires":[["ff852a65.d1a3b8"]]},{"id":"ff852a65.d1a3b8","type":"http response","z":"d8864fb7.9983d","name":"Error response","x":1283.75,"y":432.5,"wires":[]},{"id":"f684383b.24e4a8","type":"mysql","z":"d8864fb7.9983d","mydb":"bcbc1f18.e5fe2","name":"","x":1145,"y":551.25,"wires":[["7ab8421.d7287bc"]]},{"id":"31969a81.aeb036","type":"redis-command","z":"d8864fb7.9983d","server":"282e8103.3064fe","command":"set","name":"","topic":"","x":1359.5,"y":180,"wires":[["26ef9fcc.c8b94"]]},{"id":"26ef9fcc.c8b94","type":"function","z":"d8864fb7.9983d","name":"Set token ","func":"/** EXPIRE mykey 10 */\nmsg.payload = {\n    \"token\" : msg.token,\n    \"time_to_live\" : 3600\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1543,"y":134,"wires":[["35544f03.5b91d","11419a62.e62636"]]},{"id":"11419a62.e62636","type":"function","z":"d8864fb7.9983d","name":"Set redis expiration","func":"/** EXPIRE mykey 10 */\n\nmsg.payload = [msg.payload[\"token\"],msg.payload[\"time_to_live\"] + 1 ]\nreturn msg;","outputs":1,"noerr":0,"x":1736,"y":87,"wires":[["16d0e11d.404b5f"]]},{"id":"16d0e11d.404b5f","type":"redis-command","z":"d8864fb7.9983d","server":"282e8103.3064fe","command":"expire","name":"","topic":"","x":1978,"y":62,"wires":[["1984ca22.a6ddd6"]]},{"id":"1984ca22.a6ddd6","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"payload","x":2163.5,"y":72,"wires":[]},{"id":"e9344585.4b9d28","type":"subflow:69f3ebc2.ab4e14","z":"d8864fb7.9983d","name":"","x":386.5,"y":587,"wires":[["b7d4a68e.9f1448"]]},{"id":"a28fa6e5.f2d798","type":"subflow:69f3ebc2.ab4e14","z":"d8864fb7.9983d","name":"","x":428,"y":920,"wires":[["9f08a419.c8b618"]]},{"id":"4e57c2a7.78d6ac","type":"subflow:69f3ebc2.ab4e14","z":"d8864fb7.9983d","name":"","x":422,"y":1259,"wires":[["9546c1d7.5f254","32ff5b80.8944b4"]]},{"id":"9f08a419.c8b618","type":"function","z":"d8864fb7.9983d","name":"Validate data","func":"\nvar bcryptjs = global.get('bcryptjs');\n\nvar fields = [ \"appname\",\"name\"];\nmsg.error = false;\nif( !(\"appname\" in msg.payload) ){\n    msg.error = true;\n    msg.message = \"appname is required\";\n    return msg;\n}\nif( !(\"name\" in msg.payload) && !(\"password\" in msg.payload) ){\n    msg.error = true;\n    msg.message = \"name or password are required\";\n    return msg;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":702,"y":884,"wires":[["68b4467f.092258"]]},{"id":"ad6ab636.113058","type":"function","z":"d8864fb7.9983d","name":"Build query","func":"var bcryptjs = global.get(\"bcryptjs\");\nvar jsesc = global.get(\"jsesc\");\nvar sets = [];\n\nif (\"password\" in msg.payload){\n    sets.push(\"password = \"+\"'\"+jsesc(bcryptjs.hashSync(msg.payload[\"password\"], 8))+\"'\");\n}\n\nif (\"name\" in msg.payload){\n    sets.push(\"name = \"+ \"'\"+jsesc(msg.payload[\"name\"])+\"'\");\n}\n\nmsg.topic = \"UPDATE app set \"+sets.join(\",\")+\" where appname = '\"+msg.payload[\"appname\"]+\"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1298,"y":873,"wires":[["8a9dfc8b.609b","d25dd912.2e5008"]]},{"id":"68b4467f.092258","type":"switch","z":"d8864fb7.9983d","name":"","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":880,"y":867,"wires":[["c3858373.c109d"],["58e92d5e.0452b4"]]},{"id":"c3858373.c109d","type":"function","z":"d8864fb7.9983d","name":"Build error","func":"msg.payload = {\n    error : msg.message\n}\nreturn msg;","outputs":1,"noerr":0,"x":1318,"y":797,"wires":[["24c41737.f9d728"]]},{"id":"8a9dfc8b.609b","type":"mysql","z":"d8864fb7.9983d","mydb":"bcbc1f18.e5fe2","name":"","x":1500,"y":897,"wires":[["e5a39840.a44138"]]},{"id":"24c41737.f9d728","type":"http response","z":"d8864fb7.9983d","name":"","x":1532,"y":786,"wires":[]},{"id":"9546c1d7.5f254","type":"function","z":"d8864fb7.9983d","name":"Build query","func":"var jsesc = global.get(\"jsesc\");\nif(\"appname\" in msg.req.params && msg.req.params[\"appname\"]!=undefined){\n    msg.oneregistry = true;\n    msg.topic = \"SELECT * FROM app where appname = '\"+jsesc(msg.req.params[\"appname\"])+\"'\";\n}else{\n    msg.oneregistry = false;\n    msg.topic = \"SELECT * FROM app \";\n}\nreturn msg;","outputs":"1","noerr":0,"x":666,"y":1240,"wires":[["a758544c.e64348","15e80496.f8c2ab"]]},{"id":"58e92d5e.0452b4","type":"function","z":"d8864fb7.9983d","name":"Process password","func":"var bcryptjs = global.get('bcryptjs');\n\nif (\"password\" in msg.payload){\n    msg.payload[\"password\"] = bcryptjs.hashSync(msg.payload[\"password\"], 8);    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1079,"y":892,"wires":[["ad6ab636.113058"]]},{"id":"d25dd912.2e5008","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"topic","x":1492,"y":837,"wires":[]},{"id":"a758544c.e64348","type":"mysql","z":"d8864fb7.9983d","mydb":"bcbc1f18.e5fe2","name":"","x":910,"y":1239,"wires":[["603c64e3.ddc04c"]]},{"id":"ce0dac3f.22ab1","type":"switch","z":"d8864fb7.9983d","name":"","property":"oneregistry","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1339,"y":1280,"wires":[["f47ff345.1f2ef","adf29416.eef368"],["d7412b96.65a388"]]},{"id":"f47ff345.1f2ef","type":"function","z":"d8864fb7.9983d","name":"Process one registry","func":"msg.notfound = false;\nif (msg.payload.length == 1){\n    msg.payload = msg.payload[0];\n}else{\n    msg.notfound = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1548,"y":1215,"wires":[["94f7d32b.cf1d1"]]},{"id":"94f7d32b.cf1d1","type":"switch","z":"d8864fb7.9983d","name":"","property":"notfound","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1739,"y":1208,"wires":[["b430cda4.71951"],["d7412b96.65a388"]]},{"id":"b430cda4.71951","type":"function","z":"d8864fb7.9983d","name":"Error not found","func":"msg.payload = {\n    error : \"Not found\"\n}\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1947,"y":1172,"wires":[["d7412b96.65a388"]]},{"id":"adf29416.eef368","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"false","x":1423,"y":1137,"wires":[]},{"id":"15e80496.f8c2ab","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"true","x":781,"y":1186,"wires":[]},{"id":"32ff5b80.8944b4","type":"debug","z":"d8864fb7.9983d","name":"","active":true,"console":"false","complete":"req.params","x":566,"y":1187,"wires":[]},{"id":"bcbc1f18.e5fe2","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"middleware","tz":""},{"id":"282e8103.3064fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""}]