middleware_flows/app_auth_mongo.json
[{"id":"8b596309.2d5e3","type":"subflow","name":"Validate user token","info":"","in":[{"x":133.25,"y":115.25,"wires":[{"id":"284ff764.276688"}]}],"out":[{"x":1345.25,"y":195.25,"wires":[{"id":"9bbc2416.339878","port":0}]}]},{"id":"284ff764.276688","type":"function","z":"8b596309.2d5e3","name":"Parse token","func":"var mongodb = global.get('mongodb');\n\nif(\"token\" in msg.req.headers){\n    msg.original_payload = msg.payload;\n    msg.payload = [\"u:\"+msg.req.headers[\"token\"]];\n    return msg;    \n}\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":281.25,"y":133.25,"wires":[["d0b80ee3.2c415"]]},{"id":"d0b80ee3.2c415","type":"switch","z":"8b596309.2d5e3","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":510,"y":160,"wires":[["b07ca227.3c8f6"],["74a37d2e.f6bf34"]]},{"id":"b07ca227.3c8f6","type":"function","z":"8b596309.2d5e3","name":"Error message","func":"msg.payload = {\n    success : false\n};\nmsg.statusCode = 405;\nreturn msg;","outputs":1,"noerr":0,"x":1048.5,"y":123.5,"wires":[["589035e9.9ae41c"]]},{"id":"385e4b3.fbdf4b4","type":"switch","z":"8b596309.2d5e3","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":912.5,"y":280.5,"wires":[["b07ca227.3c8f6"],["9bbc2416.339878"]]},{"id":"589035e9.9ae41c","type":"http response","z":"8b596309.2d5e3","name":"","x":1238,"y":76.75,"wires":[]},{"id":"9bbc2416.339878","type":"function","z":"8b596309.2d5e3","name":"Success message","func":"msg.payload = msg.original_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1196.75,"y":231.25,"wires":[[]]},{"id":"74a37d2e.f6bf34","type":"redis-command","z":"8b596309.2d5e3","server":"282e8103.3064fe","command":"get","name":"","topic":"","x":698.75,"y":210.25,"wires":[["385e4b3.fbdf4b4"]]},{"id":"282e8103.3064fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"b0d793cb.d9397","type":"tab","label":"Applications auth "},{"id":"5a150eb5.2a277","type":"http in","z":"b0d793cb.d9397","name":"","url":"/api/app/auth/token","method":"post","swaggerDoc":"","x":385.75,"y":208.5,"wires":[["d31da9f9.c2c4d8"]]},{"id":"d31da9f9.c2c4d8","type":"function","z":"b0d793cb.d9397","name":"Read data","func":"msg.password = msg.payload[\"password\"];\n\nmsg.payload = {\n    \"appname\" : msg.payload[\"appname\"]\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":564,"y":146,"wires":[["868f37d8.86f298"]]},{"id":"868f37d8.86f298","type":"mongodb2 in","z":"b0d793cb.d9397","service":"_ext_","configNode":"282df317.0813fc","name":"Auth","collection":"applications","operation":"findOne","x":728.7500114440918,"y":140.00000190734863,"wires":[["a14c7249.a19c3"]]},{"id":"489098b2.c17878","type":"http response","z":"b0d793cb.d9397","name":"Success","x":1667.5000228881836,"y":100.25000190734863,"wires":[]},{"id":"8868199a.871898","type":"switch","z":"b0d793cb.d9397","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":942,"y":124,"wires":[["bd58406.c86cac"],["67124ca6.75f194"]]},{"id":"8a14d593.7df608","type":"http response","z":"b0d793cb.d9397","name":"Error response","x":1456.2500228881836,"y":56.250000953674316,"wires":[]},{"id":"bd58406.c86cac","type":"function","z":"b0d793cb.d9397","name":"Error message","func":"msg.statusCode = 405;\nmsg.payload = {\"message\":\"Error al autentificar\"};\nreturn msg;","outputs":1,"noerr":0,"x":1139,"y":114,"wires":[["8a14d593.7df608"]]},{"id":"67124ca6.75f194","type":"function","z":"b0d793cb.d9397","name":"Buffer app","func":"msg.app = msg.payload;\nmsg.payload = {\n    \"appname\" : msg.app.appname,\n    \"appid\" : msg.app._id,\n    \"created_at\" : new Date(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1043.5,"y":207,"wires":[["74f3dfd8.902c4"]]},{"id":"802dca17.cc5e98","type":"function","z":"b0d793cb.d9397","name":"Merge id y token","func":"msg.app[\"token\"] = {\n    \"id\" : msg.payload.insertedIds[0],\n    \"expiration\" : 3600\n};\n\nmsg.payload= msg.app;\ndelete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1508.5000228881836,"y":194.25000381469727,"wires":[["489098b2.c17878"]]},{"id":"1bb85feb.afe9c","type":"http in","z":"b0d793cb.d9397","name":"","url":"/api/applications","method":"put","swaggerDoc":"","x":354.00000762939453,"y":648.0000095367432,"wires":[["3401e8bc.02b648"]]},{"id":"63e6f872.5efef8","type":"http response","z":"b0d793cb.d9397","name":"","x":1439.2500267028809,"y":640.2500085830688,"wires":[]},{"id":"70249a58.192724","type":"http request","z":"b0d793cb.d9397","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api/app/auth/token","tls":"","x":1010,"y":420,"wires":[["88bec3c9.22dfb"]]},{"id":"486f6c88.5a08e4","type":"inject","z":"b0d793cb.d9397","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":661,"y":404,"wires":[["1c385305.8f384d"]]},{"id":"d88735ff.156628","type":"debug","z":"b0d793cb.d9397","name":"","active":true,"console":"false","complete":"false","x":1363.0000228881836,"y":414.0000057220459,"wires":[]},{"id":"1c385305.8f384d","type":"function","z":"b0d793cb.d9397","name":"Credentials","func":"msg.payload = {\n    \"appname\" : \"psoto@napsis.com\",\n    \"password\" : \"napsis123\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":825.7500114440918,"y":463.5000057220459,"wires":[["70249a58.192724"]]},{"id":"18d8d9b0.d88b96","type":"function","z":"b0d793cb.d9397","name":"Set data","func":"\n\nmsg.headers = {\"token\": '596638764870b504180e5541'};\nmsg.payload = {\n    \"appname\" : \"psoto apps\",\n    \"password\" : \"napsis123\",\n    \"name\" : \"Patricio Soto\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1003,"y":812,"wires":[["e5fc2382.fe8a4"]]},{"id":"3b280e89.44aa12","type":"inject","z":"b0d793cb.d9397","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":788.5000152587891,"y":753.2500095367432,"wires":[["18d8d9b0.d88b96"]]},{"id":"e5fc2382.fe8a4","type":"http request","z":"b0d793cb.d9397","name":"","method":"PUT","ret":"txt","url":"http://localhost:1880/api/applications","tls":"","x":1209,"y":809,"wires":[["2ecf2eaf.61e3d2"]]},{"id":"5ddff371.9e453c","type":"debug","z":"b0d793cb.d9397","name":"","active":true,"console":"false","complete":"false","x":1566.7500228881836,"y":730.2500104904175,"wires":[]},{"id":"611445a7.ee59ac","type":"comment","z":"b0d793cb.d9397","name":"Prueba de autenticación","info":"","x":987.2500152587891,"y":335.0000057220459,"wires":[]},{"id":"f6e87dac.e526a","type":"comment","z":"b0d793cb.d9397","name":"Definición método de autenticación","info":"","x":420.00000762939453,"y":65.75000190734863,"wires":[]},{"id":"65a74fae.f9062","type":"comment","z":"b0d793cb.d9397","name":"Prueba de Ingreso de app","info":"","x":1096,"y":756,"wires":[]},{"id":"70cedf28.ac55c","type":"comment","z":"b0d793cb.d9397","name":"Defnición Ingreso de app","info":"","x":392.50000762939453,"y":560.5000085830688,"wires":[]},{"id":"52dc9555.0117bc","type":"function","z":"b0d793cb.d9397","name":"Calc password","func":"var bcryptjs = global.get('bcryptjs');\n\nmsg.payload[\"password\"] = bcryptjs.hashSync(msg.payload[\"password\"], 8);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":795.75,"y":583.75,"wires":[["e3e40cd8.8f288"]]},{"id":"dffb9f6a.ba7fd","type":"function","z":"b0d793cb.d9397","name":"Remove password hashed","func":"delete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1263.500015258789,"y":556.5000076293945,"wires":[["63e6f872.5efef8"]]},{"id":"a14c7249.a19c3","type":"function","z":"b0d793cb.d9397","name":"Compare ","func":"var bcryptjs = global.get('bcryptjs');\n\nif (!bcryptjs.compareSync(msg.password,msg.payload.password)){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":806.0000114440918,"y":238.75000381469727,"wires":[["8868199a.871898"]]},{"id":"88bec3c9.22dfb","type":"json","z":"b0d793cb.d9397","name":"","x":1173.125015258789,"y":375.0000057220459,"wires":[["d88735ff.156628"]]},{"id":"e3e40cd8.8f288","type":"mongodb2 in","z":"b0d793cb.d9397","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"applications","operation":"insert","x":1054.3750190734863,"y":632.5000085830688,"wires":[["dffb9f6a.ba7fd"]]},{"id":"7c21223f.7f4f6c","type":"catch","z":"b0d793cb.d9397","name":"Catch insert app","scope":null,"x":383.74998474121094,"y":1948.7499752044678,"wires":[["a9220940.067dd8"]]},{"id":"c65049a2.842668","type":"http response","z":"b0d793cb.d9397","name":"","x":830.6249885559082,"y":1947.4999752044678,"wires":[]},{"id":"a9220940.067dd8","type":"function","z":"b0d793cb.d9397","name":"Status code & message","func":"msg.payload = {\n    \"error\" : msg.error,\n    \"data\" : msg.payload\n}\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1940,"wires":[["c65049a2.842668"]]},{"id":"2ecf2eaf.61e3d2","type":"json","z":"b0d793cb.d9397","name":"","x":1372.5000228881836,"y":766.2500114440918,"wires":[["5ddff371.9e453c"]]},{"id":"74f3dfd8.902c4","type":"mongodb2 in","z":"b0d793cb.d9397","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"tokens_app","operation":"insert","x":1303.5000190734863,"y":254.75000381469727,"wires":[["802dca17.cc5e98","cd5a5ae3.3417d8"]]},{"id":"cd5a5ae3.3417d8","type":"debug","z":"b0d793cb.d9397","name":"","active":true,"console":"false","complete":"false","x":1511,"y":309.75,"wires":[]},{"id":"22c11149.49b1ce","type":"comment","z":"b0d793cb.d9397","name":"Error handling","info":"","x":371.25000762939453,"y":1872.5000247955322,"wires":[]},{"id":"a0042073.29965","type":"http in","z":"b0d793cb.d9397","name":"","url":"/api/applications/:id","method":"post","swaggerDoc":"","x":370,"y":1000,"wires":[["2e948c7b.e31e34"]]},{"id":"26a21ced.8bef84","type":"function","z":"b0d793cb.d9397","name":"Calc password","func":"var mongodb = global.get('mongodb');\nvar bcryptjs = global.get('bcryptjs');\n\nif (\"password\" in msg.payload){\n    msg.payload[\"password\"] = bcryptjs.hashSync(msg.payload[\"password\"], 8);    \n}\n\nmsg.payload[\"_id\"] = new mongodb.ObjectId(msg.payload[\"_id\"]);\n\nreturn msg;","outputs":1,"noerr":0,"x":916.7500076293945,"y":876.9999987632036,"wires":[["b65f7467.68ffc8"]]},{"id":"b65f7467.68ffc8","type":"mongodb2 in","z":"b0d793cb.d9397","service":"_ext_","configNode":"282df317.0813fc","name":"Save applications","collection":"applications","operation":"save","x":989.1250076293945,"y":980.7499997764826,"wires":[["638ca632.f38048"]]},{"id":"638ca632.f38048","type":"function","z":"b0d793cb.d9397","name":"Remove password hashed","func":"delete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1232.0000114440918,"y":930.9999987632036,"wires":[["64c4f26c.14c00c"]]},{"id":"64c4f26c.14c00c","type":"http response","z":"b0d793cb.d9397","name":"","x":1435.2500190734863,"y":993.499993994832,"wires":[]},{"id":"710ec6d4.c2cf68","type":"inject","z":"b0d793cb.d9397","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":801.25,"y":1076.25,"wires":[["ef668ff0.76979"]]},{"id":"ef668ff0.76979","type":"function","z":"b0d793cb.d9397","name":"Set data","func":"msg.headers = {\"token\": '596638764870b504180e5541'};\nmsg.payload = {\n    \"appname\" : \"psoto@napsis.com\",\n    \"password\" : \"napsis1234\",\n    \"name\" : \"Patricio Soto\"\n}\nmsg.app_id = \"59650a3470331393369dba2b\";\nreturn msg;","outputs":1,"noerr":0,"x":1015.7499847412109,"y":1134.9999904632568,"wires":[["8e7975a4.5fd468"]]},{"id":"8e7975a4.5fd468","type":"http request","z":"b0d793cb.d9397","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api/applications/{{{app_id}}}","tls":"","x":1221.749984741211,"y":1131.9999904632568,"wires":[["ff24f8c3.941258"]]},{"id":"ff24f8c3.941258","type":"json","z":"b0d793cb.d9397","name":"","x":1385.2500076293945,"y":1089.2500019073486,"wires":[["f1024d04.9da17"]]},{"id":"f1024d04.9da17","type":"debug","z":"b0d793cb.d9397","name":"","active":true,"console":"false","complete":"false","x":1579.5000076293945,"y":1053.2500009536743,"wires":[]},{"id":"3c15456f.f64f3a","type":"comment","z":"b0d793cb.d9397","name":"Prueba de modificación de app","info":"","x":1113.75,"y":1060,"wires":[]},{"id":"b85f6ce9.0bca5","type":"comment","z":"b0d793cb.d9397","name":"Defnición modificación de app","info":"","x":445.00000762939453,"y":891.2500133514404,"wires":[]},{"id":"12d0a530.601c6b","type":"function","z":"b0d793cb.d9397","name":"Get Id from params","func":"\nmsg.payload[\"_id\"] = msg.req.params[\"id\"];\nreturn msg;","outputs":1,"noerr":0,"x":738.5000038146973,"y":928.9999987632036,"wires":[["26a21ced.8bef84"]]},{"id":"712cc028.0664d","type":"http in","z":"b0d793cb.d9397","name":"","url":"/api/applications/:id_app?","method":"get","swaggerDoc":"","x":379.37500762939453,"y":1337.5000200271606,"wires":[["d456f56f.ea2a88"]]},{"id":"48e0b3e5.78efec","type":"comment","z":"b0d793cb.d9397","name":"Defnición obtención de app","info":"","x":397.5,"y":1252.5,"wires":[]},{"id":"af16d5b0.c7b4a8","type":"function","z":"b0d793cb.d9397","name":"Get Id from params","func":"var mongodb = global.get('mongodb');\nmsg.oneregistry = false;\nif(\"id_app\" in msg.req.params && msg.req.params[\"id_app\"]){\n    msg.payload[\"_id\"] = new mongodb.ObjectId(msg.req.params[\"id_app\"]);\n    msg.oneregistry = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":870.0000152587891,"y":1308.7500190734863,"wires":[["6c0495f5.89528c"]]},{"id":"6c0495f5.89528c","type":"switch","z":"b0d793cb.d9397","name":"","property":"oneregistry","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1090.625015258789,"y":1296.2500190734863,"wires":[["8f15a49b.4b55f8"],["b4c17312.a96e4"]]},{"id":"8f15a49b.4b55f8","type":"mongodb2 in","z":"b0d793cb.d9397","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"applications","operation":"findOne","x":1330.000015258789,"y":1258.7500190734863,"wires":[["4f8d90ef.92c6d"]]},{"id":"b4c17312.a96e4","type":"mongodb2 in","z":"b0d793cb.d9397","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"applications","operation":"find.toArray","x":1330,"y":1340,"wires":[["8c70b1bc.5d9e1"]]},{"id":"36642f48.f4359","type":"http response","z":"b0d793cb.d9397","name":"","x":1922.75,"y":1288.25,"wires":[]},{"id":"cd4aec95.24c38","type":"inject","z":"b0d793cb.d9397","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640.7499771118164,"y":1475.500020980835,"wires":[["beedc0a4.ce36b"]]},{"id":"12dae115.90c9df","type":"http request","z":"b0d793cb.d9397","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api/applications","tls":"","x":962.5000152587891,"y":1480.0000224113464,"wires":[["70579a2a.443eb4"]]},{"id":"6511b638.47b358","type":"debug","z":"b0d793cb.d9397","name":"","active":true,"console":"false","complete":"false","x":1271.500015258789,"y":1445.0000228881836,"wires":[]},{"id":"beedc0a4.ce36b","type":"function","z":"b0d793cb.d9397","name":"Set data","func":"msg.headers = {\"token\": '596638764870b504180e5541'};\nreturn msg;","outputs":1,"noerr":0,"x":793.75,"y":1472.5,"wires":[["12dae115.90c9df"]]},{"id":"70579a2a.443eb4","type":"json","z":"b0d793cb.d9397","name":"","x":1130.000015258789,"y":1463.750020980835,"wires":[["6511b638.47b358"]]},{"id":"fea53175.8c552","type":"comment","z":"b0d793cb.d9397","name":"Prueba de obtención de todos los apps","info":"","x":925.0000152587891,"y":1411.250020980835,"wires":[]},{"id":"38bfccba.513d54","type":"http request","z":"b0d793cb.d9397","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api/applications/59650a3470331393369dba2b","tls":"","x":950,"y":1600,"wires":[["559b0032.ffc94"]]},{"id":"37b46c00.564754","type":"function","z":"b0d793cb.d9397","name":"Set data","func":"msg.headers = {\"token\": '596638764870b504180e5541'};\nreturn msg;","outputs":1,"noerr":0,"x":781.2499847412109,"y":1592.4999775886536,"wires":[["38bfccba.513d54"]]},{"id":"559b0032.ffc94","type":"json","z":"b0d793cb.d9397","name":"","x":1117.5,"y":1583.7499985694885,"wires":[["cbdb8131.a80fc"]]},{"id":"3c30924a.b9174e","type":"inject","z":"b0d793cb.d9397","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":628.2499618530273,"y":1595.4999985694885,"wires":[["37b46c00.564754"]]},{"id":"cbdb8131.a80fc","type":"debug","z":"b0d793cb.d9397","name":"","active":true,"console":"false","complete":"false","x":1259,"y":1565.0000004768372,"wires":[]},{"id":"bcb02c58.165cc","type":"function","z":"b0d793cb.d9397","name":"Remove password hashed","func":"\ndelete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1671,"y":1308.25,"wires":[["36642f48.f4359"]]},{"id":"8c70b1bc.5d9e1","type":"function","z":"b0d793cb.d9397","name":"Remove password hashed","func":"for (i in msg.payload){\n    delete msg.payload[i][\"password\"];    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1561,"y":1436,"wires":[["36642f48.f4359"]]},{"id":"1b2c6ea7.d49c11","type":"comment","z":"b0d793cb.d9397","name":"Prueba de obtención de un app","info":"","x":905,"y":1537,"wires":[]},{"id":"4f8d90ef.92c6d","type":"switch","z":"b0d793cb.d9397","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":1600,"y":1197,"wires":[["36642f48.f4359"],["bcb02c58.165cc"]]},{"id":"3401e8bc.02b648","type":"subflow:8b596309.2d5e3","z":"b0d793cb.d9397","x":567.5000076293945,"y":626.666711807251,"wires":[["52dc9555.0117bc"]]},{"id":"2e948c7b.e31e34","type":"subflow:8b596309.2d5e3","z":"b0d793cb.d9397","x":560,"y":961.6666259765625,"wires":[["12d0a530.601c6b"]]},{"id":"d456f56f.ea2a88","type":"subflow:8b596309.2d5e3","z":"b0d793cb.d9397","x":638.3333129882812,"y":1323.333251953125,"wires":[["af16d5b0.c7b4a8"]]},{"id":"282df317.0813fc","type":"mongodb2","z":"","uri":"mongodb://localhost/middleware","name":"Middleware","options":"","parallelism":"-1"}]