middleware_flows/camunda.json
[{"id":"69f3ebc2.ab4e14","type":"subflow","name":"Validate app token","info":"","in":[{"x":50,"y":30,"wires":[{"id":"ef4e789c.1404a8"}]}],"out":[{"x":1198,"y":173,"wires":[{"id":"8fd7ae67.35e4f","port":0}]}]},{"id":"ef4e789c.1404a8","type":"function","z":"69f3ebc2.ab4e14","name":"Parse token","func":"var mongodb = global.get('mongodb');\n\nif(\"token\" in msg.req.headers){\n    msg.original_payload = msg.payload;\n    msg.payload = [msg.req.headers[\"token\"]];\n    return msg;    \n}\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":116,"wires":[["371b7fb3.9fb0e"]]},{"id":"371b7fb3.9fb0e","type":"switch","z":"69f3ebc2.ab4e14","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":391.75,"y":142.75,"wires":[["e3e8b34b.7ff7c"],["541069d.479d598"]]},{"id":"e3e8b34b.7ff7c","type":"function","z":"69f3ebc2.ab4e14","name":"Error message","func":"msg.payload = {\n    error : \"Must include token in headers\"\n};\nmsg.statusCode = 405;\nreturn msg;","outputs":1,"noerr":0,"x":852.25,"y":52.25,"wires":[["59c070e2.693df"]]},{"id":"fb6bb76f.4a72b8","type":"switch","z":"69f3ebc2.ab4e14","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":794.25,"y":263.25,"wires":[["76a25809.98a6d8"],["8fd7ae67.35e4f"]]},{"id":"59c070e2.693df","type":"http response","z":"69f3ebc2.ab4e14","name":"","x":1119.75,"y":59.5,"wires":[]},{"id":"8fd7ae67.35e4f","type":"function","z":"69f3ebc2.ab4e14","name":"Success message","func":"msg.payload = msg.original_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1078.5,"y":214,"wires":[[]]},{"id":"541069d.479d598","type":"redis-command","z":"69f3ebc2.ab4e14","server":"282e8103.3064fe","command":"get","name":"","topic":"","x":580.5,"y":193,"wires":[["fb6bb76f.4a72b8"]]},{"id":"76a25809.98a6d8","type":"function","z":"69f3ebc2.ab4e14","name":"Error message","func":"msg.payload = {\n    error : \"Token expired\"\n};\nmsg.statusCode = 405;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":123,"wires":[["59c070e2.693df"]]},{"id":"282e8103.3064fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"18232952.45b0d7","type":"tab","label":"Camunda"},{"id":"fe986b54.f24f48","type":"http in","z":"18232952.45b0d7","name":"","url":"/api/camunda/users/:id","method":"get","swaggerDoc":"","x":181,"y":255,"wires":[["6d9a8bce.98e1a4"]]},{"id":"5de72f48.4b8ba","type":"http response","z":"18232952.45b0d7","name":"","x":1167,"y":349,"wires":[]},{"id":"6f47b66b.7c0608","type":"inject","z":"18232952.45b0d7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139.5,"y":175,"wires":[["3bcaad24.42f822"]]},{"id":"3043c47d.5d1afc","type":"http request","z":"18232952.45b0d7","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api/camunda/users/jefeventas","tls":"","x":438,"y":163,"wires":[["1ee88308.2ba59d"]]},{"id":"92505122.6004b","type":"http request","z":"18232952.45b0d7","name":"","method":"GET","ret":"txt","url":"http://demo:demo@localhost:8080/engine-rest/engine/default/user?memberOfGroup={{{id}}}","tls":"","x":628,"y":333,"wires":[["fcc35772.6d14c8"]]},{"id":"ddf1d9aa.dbe648","type":"function","z":"18232952.45b0d7","name":"Set requests parameters","func":"msg.headers = { \"Content-Type\":\"application/json\" };\nmsg.id = msg.req.params[\"id\"];\nreturn msg;","outputs":1,"noerr":0,"x":517,"y":414,"wires":[["92505122.6004b"]]},{"id":"fcc35772.6d14c8","type":"function","z":"18232952.45b0d7","name":"remove transfer-encoding","func":"msg.payload = msg.payload.trim();\ndelete msg.headers['transfer-encoding'];\nreturn msg;","outputs":1,"noerr":0,"x":874,"y":275,"wires":[["a862f42a.39c728"]]},{"id":"a862f42a.39c728","type":"json","z":"18232952.45b0d7","name":"parse json","x":914,"y":374,"wires":[["6dfd9ac3.6b8154"]]},{"id":"1ee88308.2ba59d","type":"debug","z":"18232952.45b0d7","name":"","active":true,"console":"false","complete":"false","x":649,"y":162,"wires":[]},{"id":"6dfd9ac3.6b8154","type":"function","z":"18232952.45b0d7","name":"set response","func":"var arr = [];\nfor(var i=0;i< msg.payload.length;i++){\n    arr.push({\n        \"id\" : msg.payload[i][\"id\"],\n        \"name\" : msg.payload[i][\"firstName\"]+\" \"+msg.payload[i][\"lastName\"]\n    });\n}\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":1001,"y":443,"wires":[["5de72f48.4b8ba"]]},{"id":"6d9a8bce.98e1a4","type":"subflow:69f3ebc2.ab4e14","z":"18232952.45b0d7","name":"","x":355,"y":338,"wires":[["ddf1d9aa.dbe648"]]},{"id":"3bcaad24.42f822","type":"function","z":"18232952.45b0d7","name":"","func":"msg.headers = {\n    \"token\": 'e91d455c-bcb8-5516-b06b-6ce3252f4d69'\n};\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":170,"wires":[["3043c47d.5d1afc"]]}]