middleware_flows/user_auth_mongo.json
[{"id":"8b596309.2d5e3","type":"subflow","name":"Validate user token","info":"","in":[{"x":133.25,"y":115.25,"wires":[{"id":"284ff764.276688"}]}],"out":[{"x":1345.25,"y":195.25,"wires":[{"id":"9bbc2416.339878","port":0}]}]},{"id":"284ff764.276688","type":"function","z":"8b596309.2d5e3","name":"Parse token","func":"var mongodb = global.get('mongodb');\n\nif(\"token\" in msg.req.headers){\n    msg.original_payload = msg.payload;\n    msg.payload = [\"u:\"+msg.req.headers[\"token\"]];\n    return msg;    \n}\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":281.25,"y":133.25,"wires":[["d0b80ee3.2c415"]]},{"id":"d0b80ee3.2c415","type":"switch","z":"8b596309.2d5e3","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":510,"y":160,"wires":[["b07ca227.3c8f6"],["74a37d2e.f6bf34"]]},{"id":"b07ca227.3c8f6","type":"function","z":"8b596309.2d5e3","name":"Error message","func":"msg.payload = {\n    success : false\n};\nmsg.statusCode = 405;\nreturn msg;","outputs":1,"noerr":0,"x":1048.5,"y":123.5,"wires":[["589035e9.9ae41c"]]},{"id":"385e4b3.fbdf4b4","type":"switch","z":"8b596309.2d5e3","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":912.5,"y":280.5,"wires":[["b07ca227.3c8f6"],["9bbc2416.339878"]]},{"id":"589035e9.9ae41c","type":"http response","z":"8b596309.2d5e3","name":"","x":1238,"y":76.75,"wires":[]},{"id":"9bbc2416.339878","type":"function","z":"8b596309.2d5e3","name":"Success message","func":"msg.payload = msg.original_payload;\nreturn msg;","outputs":1,"noerr":0,"x":1196.75,"y":231.25,"wires":[[]]},{"id":"74a37d2e.f6bf34","type":"redis-command","z":"8b596309.2d5e3","server":"282e8103.3064fe","command":"get","name":"","topic":"","x":698.75,"y":210.25,"wires":[["385e4b3.fbdf4b4"]]},{"id":"282e8103.3064fe","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"605fe09c.e3a71","type":"tab","label":"Auth users"},{"id":"325981ea.611aae","type":"http in","z":"605fe09c.e3a71","name":"","url":"/api/users/auth/token","method":"post","swaggerDoc":"","x":404.75000762939453,"y":208.50000381469727,"wires":[["99566fe4.685af"]]},{"id":"99566fe4.685af","type":"function","z":"605fe09c.e3a71","name":"Read data","func":"msg.password = msg.payload[\"password\"];\n\nmsg.payload = {\n    \"username\" : msg.payload[\"username\"]\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":564,"y":146,"wires":[["876a61b8.4bc24"]]},{"id":"876a61b8.4bc24","type":"mongodb2 in","z":"605fe09c.e3a71","service":"_ext_","configNode":"282df317.0813fc","name":"Auth","collection":"users","operation":"findOne","x":728.7500114440918,"y":140.00000190734863,"wires":[["5b6b71a6.81b63"]]},{"id":"4014b888.016418","type":"http response","z":"605fe09c.e3a71","name":"Success","x":1667.5000228881836,"y":100.25000190734863,"wires":[]},{"id":"dbd0b1b7.c4525","type":"switch","z":"605fe09c.e3a71","name":"Verificador","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":942,"y":124,"wires":[["320af986.1b2da6"],["dc9f2291.eaa8e"]]},{"id":"6fad2465.c3e8dc","type":"http response","z":"605fe09c.e3a71","name":"Error response","x":1456.2500228881836,"y":56.250000953674316,"wires":[]},{"id":"320af986.1b2da6","type":"function","z":"605fe09c.e3a71","name":"Error message","func":"msg.statusCode = 405;\nmsg.payload = {\"message\":\"Error al autentificar\"};\nreturn msg;","outputs":1,"noerr":0,"x":1139,"y":114,"wires":[["6fad2465.c3e8dc"]]},{"id":"dc9f2291.eaa8e","type":"function","z":"605fe09c.e3a71","name":"Buffer user","func":"msg.user = msg.payload;\nmsg.payload = {\n    \"username\" : msg.user.username,\n    \"userid\" : msg.user._id,\n    \"created_at\" : new Date(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1043.5,"y":207,"wires":[["cabf7485.734eb8"]]},{"id":"1da747d4.3ec528","type":"function","z":"605fe09c.e3a71","name":"Merge id y token","func":"msg.user[\"token\"] = {\n    \"id\" : msg.payload.insertedIds[0],\n    \"expiration\" : 3600\n};\n\nmsg.payload= msg.user;\ndelete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1508.5000228881836,"y":194.25000381469727,"wires":[["4014b888.016418"]]},{"id":"e21e1b28.dca598","type":"http in","z":"605fe09c.e3a71","name":"","url":"/api/users","method":"put","swaggerDoc":"","x":354.00000762939453,"y":648.0000095367432,"wires":[["c60bcbc5.b7fec8"]]},{"id":"5779a222.32137c","type":"http response","z":"605fe09c.e3a71","name":"","x":1439.2500267028809,"y":640.2500085830688,"wires":[]},{"id":"ee40c7d7.712f38","type":"http request","z":"605fe09c.e3a71","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api/users/auth/token","tls":"","x":1010,"y":420,"wires":[["8ddefac9.e1c268"]]},{"id":"7b809f28.accb2","type":"inject","z":"605fe09c.e3a71","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":661,"y":404,"wires":[["4b7fa02a.85a0b"]]},{"id":"3031e2bf.cde40e","type":"debug","z":"605fe09c.e3a71","name":"","active":true,"console":"false","complete":"false","x":1363.0000228881836,"y":414.0000057220459,"wires":[]},{"id":"4b7fa02a.85a0b","type":"function","z":"605fe09c.e3a71","name":"Credentials","func":"msg.payload = {\n    \"username\" : \"psoto@napsis.com\",\n    \"password\" : \"napsis1234\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":825.7500114440918,"y":463.5000057220459,"wires":[["ee40c7d7.712f38"]]},{"id":"c77e2480.511308","type":"function","z":"605fe09c.e3a71","name":"Set data","func":"\nmsg.headers = {\"token\": '596638764870b504180e5541'};\nmsg.payload = {\n    \"username\" : \"psoto@napsis.com\",\n    \"password\" : \"napsis123\",\n    \"name\" : \"Patricio Soto\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1003,"y":812,"wires":[["5777530f.939fac"]]},{"id":"2044a244.64100e","type":"inject","z":"605fe09c.e3a71","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":788.5000152587891,"y":753.2500095367432,"wires":[["c77e2480.511308"]]},{"id":"5777530f.939fac","type":"http request","z":"605fe09c.e3a71","name":"","method":"PUT","ret":"txt","url":"http://localhost:1880/api/users","tls":"","x":1209,"y":809,"wires":[["23fea819.fb02c8"]]},{"id":"53cfb27c.74ae2c","type":"debug","z":"605fe09c.e3a71","name":"","active":true,"console":"false","complete":"false","x":1566.7500228881836,"y":730.2500104904175,"wires":[]},{"id":"f540e853.12a688","type":"comment","z":"605fe09c.e3a71","name":"Prueba de autenticación","info":"","x":987.2500152587891,"y":335.0000057220459,"wires":[]},{"id":"cabadfba.91e5c","type":"comment","z":"605fe09c.e3a71","name":"Definición método de autenticación","info":"","x":420.00000762939453,"y":65.75000190734863,"wires":[]},{"id":"2aea5ae0.4c7446","type":"comment","z":"605fe09c.e3a71","name":"Prueba de Ingreso de usuario","info":"","x":1096,"y":756,"wires":[]},{"id":"c60bcbc5.b7fec8","type":"subflow:8b596309.2d5e3","z":"605fe09c.e3a71","name":"","x":598.75,"y":640.75,"wires":[["45748e62.92edc"]]},{"id":"bde9230b.8914a","type":"comment","z":"605fe09c.e3a71","name":"Defnición Ingreso de usuario","info":"","x":392.50000762939453,"y":560.5000085830688,"wires":[]},{"id":"45748e62.92edc","type":"function","z":"605fe09c.e3a71","name":"Calc password","func":"var bcryptjs = global.get('bcryptjs');\n\nmsg.payload[\"password\"] = bcryptjs.hashSync(msg.payload[\"password\"], 8);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":795.75,"y":583.75,"wires":[["97f05db.948a5a"]]},{"id":"2532e725.f98498","type":"function","z":"605fe09c.e3a71","name":"Remove password hashed","func":"delete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1263.500015258789,"y":556.5000076293945,"wires":[["5779a222.32137c"]]},{"id":"5b6b71a6.81b63","type":"function","z":"605fe09c.e3a71","name":"Compare ","func":"var bcryptjs = global.get('bcryptjs');\n\nif (!bcryptjs.compareSync(msg.password,msg.payload.password)){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":806.0000114440918,"y":238.75000381469727,"wires":[["dbd0b1b7.c4525"]]},{"id":"8ddefac9.e1c268","type":"json","z":"605fe09c.e3a71","name":"","x":1173.125015258789,"y":375.0000057220459,"wires":[["3031e2bf.cde40e"]]},{"id":"97f05db.948a5a","type":"mongodb2 in","z":"605fe09c.e3a71","service":"_ext_","configNode":"282df317.0813fc","name":"Insert users","collection":"users","operation":"insert","x":1014.3750190734863,"y":632.5000085830688,"wires":[["2532e725.f98498"]]},{"id":"2fe983f8.3850dc","type":"catch","z":"605fe09c.e3a71","name":"Catch insert user","scope":null,"x":363.74998474121094,"y":1748.7499752044678,"wires":[["5d8c3705.57aae8"]]},{"id":"39e454.af0dbbac","type":"http response","z":"605fe09c.e3a71","name":"","x":810.6249885559082,"y":1747.4999752044678,"wires":[]},{"id":"5d8c3705.57aae8","type":"function","z":"605fe09c.e3a71","name":"Status code & message","func":"msg.payload = {\n    \"error\" : msg.error,\n    \"data\" : msg.payload\n}\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1740,"wires":[["39e454.af0dbbac"]]},{"id":"23fea819.fb02c8","type":"json","z":"605fe09c.e3a71","name":"","x":1372.5000228881836,"y":766.2500114440918,"wires":[["53cfb27c.74ae2c"]]},{"id":"cabf7485.734eb8","type":"mongodb2 in","z":"605fe09c.e3a71","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"tokens","operation":"insert","x":1283.5000190734863,"y":254.75000381469727,"wires":[["1da747d4.3ec528","51a5cc52.953e74"]]},{"id":"51a5cc52.953e74","type":"debug","z":"605fe09c.e3a71","name":"","active":true,"console":"false","complete":"false","x":1511,"y":309.75,"wires":[]},{"id":"a471e58a.9d0e38","type":"comment","z":"605fe09c.e3a71","name":"Error handling","info":"","x":362.25,"y":1681.5,"wires":[]},{"id":"da2caab2.d7ac08","type":"subflow:8b596309.2d5e3","z":"605fe09c.e3a71","name":"","x":581,"y":1005.2499997168779,"wires":[["df0718e4.984a28"]]},{"id":"b0e8bb4c.db6ce8","type":"http in","z":"605fe09c.e3a71","name":"","url":"/api/users/:id","method":"post","swaggerDoc":"","x":370,"y":1000,"wires":[["da2caab2.d7ac08"]]},{"id":"e0e42615.a71ed8","type":"function","z":"605fe09c.e3a71","name":"Calc password","func":"var mongodb = global.get('mongodb');\nvar bcryptjs = global.get('bcryptjs');\n\nif (\"password\" in msg.payload){\n    msg.payload[\"password\"] = bcryptjs.hashSync(msg.payload[\"password\"], 8);    \n}\n\nmsg.payload[\"_id\"] = new mongodb.ObjectId(msg.payload[\"_id\"]);\n\nreturn msg;","outputs":1,"noerr":0,"x":916.7500076293945,"y":876.9999987632036,"wires":[["484e9a51.6cdb54"]]},{"id":"484e9a51.6cdb54","type":"mongodb2 in","z":"605fe09c.e3a71","service":"_ext_","configNode":"282df317.0813fc","name":"Save users","collection":"users","operation":"save","x":989.1250076293945,"y":980.7499997764826,"wires":[["98ff30a0.08b4a"]]},{"id":"98ff30a0.08b4a","type":"function","z":"605fe09c.e3a71","name":"Remove password hashed","func":"delete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1232.0000114440918,"y":930.9999987632036,"wires":[["1a663d84.7d6512"]]},{"id":"1a663d84.7d6512","type":"http response","z":"605fe09c.e3a71","name":"","x":1435.2500190734863,"y":993.499993994832,"wires":[]},{"id":"e931e9.32d4fe18","type":"inject","z":"605fe09c.e3a71","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":801.25,"y":1076.25,"wires":[["24a1ddb2.ce9fa2"]]},{"id":"24a1ddb2.ce9fa2","type":"function","z":"605fe09c.e3a71","name":"Set data","func":"msg.headers = {\"token\": '596638764870b504180e5541'};\nmsg.payload = {\n    \"username\" : \"psoto@napsis.com\",\n    \"password\" : \"napsis1234\",\n    \"name\" : \"Patricio Soto\"\n}\nmsg.user_id = \"59650a3470331393369dba2b\";\nreturn msg;","outputs":1,"noerr":0,"x":1015.7499847412109,"y":1134.9999904632568,"wires":[["fdf4f3a5.fd92"]]},{"id":"fdf4f3a5.fd92","type":"http request","z":"605fe09c.e3a71","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api/users/{{{user_id}}}","tls":"","x":1221.749984741211,"y":1131.9999904632568,"wires":[["2f73b548.3afb2a"]]},{"id":"2f73b548.3afb2a","type":"json","z":"605fe09c.e3a71","name":"","x":1385.2500076293945,"y":1089.2500019073486,"wires":[["c0520b1d.5c0928"]]},{"id":"c0520b1d.5c0928","type":"debug","z":"605fe09c.e3a71","name":"","active":true,"console":"false","complete":"false","x":1579.5000076293945,"y":1053.2500009536743,"wires":[]},{"id":"c5ccd291.35ff5","type":"comment","z":"605fe09c.e3a71","name":"Prueba de modificación de usuario","info":"","x":1113.75,"y":1060,"wires":[]},{"id":"1f76f6ec.9048c9","type":"comment","z":"605fe09c.e3a71","name":"Defnición modificación de usuario","info":"","x":445.00000762939453,"y":891.2500133514404,"wires":[]},{"id":"df0718e4.984a28","type":"function","z":"605fe09c.e3a71","name":"Get Id from params","func":"\nmsg.payload[\"_id\"] = msg.req.params[\"id\"];\nreturn msg;","outputs":1,"noerr":0,"x":738.5000038146973,"y":928.9999987632036,"wires":[["e0e42615.a71ed8"]]},{"id":"5123c909.23d488","type":"http in","z":"605fe09c.e3a71","name":"","url":"/api/users/:id_user?","method":"get","swaggerDoc":"","x":379.37500762939453,"y":1337.5000200271606,"wires":[["25af9cd4.ea9a54"]]},{"id":"dcef6f3b.04655","type":"comment","z":"605fe09c.e3a71","name":"Defnición obtención de usuario","info":"","x":397.5,"y":1252.5,"wires":[]},{"id":"25af9cd4.ea9a54","type":"subflow:8b596309.2d5e3","z":"605fe09c.e3a71","name":"","x":608.75,"y":1356.25,"wires":[["d64b1fa4.3c3cb"]]},{"id":"d64b1fa4.3c3cb","type":"function","z":"605fe09c.e3a71","name":"Get Id from params","func":"var mongodb = global.get('mongodb');\nmsg.oneregistry = false;\nif(\"id_user\" in msg.req.params && msg.req.params[\"id_user\"]){\n    msg.payload[\"_id\"] = new mongodb.ObjectId(msg.req.params[\"id_user\"]);\n    msg.oneregistry = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":870.0000152587891,"y":1308.7500190734863,"wires":[["ca19d355.a90d7"]]},{"id":"ca19d355.a90d7","type":"switch","z":"605fe09c.e3a71","name":"","property":"oneregistry","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1090.625015258789,"y":1296.2500190734863,"wires":[["4111828d.2294dc"],["58faecb4.7fbad4"]]},{"id":"4111828d.2294dc","type":"mongodb2 in","z":"605fe09c.e3a71","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"users","operation":"findOne","x":1330.000015258789,"y":1258.7500190734863,"wires":[["66bab8be.55e848"]]},{"id":"58faecb4.7fbad4","type":"mongodb2 in","z":"605fe09c.e3a71","service":"_ext_","configNode":"282df317.0813fc","name":"","collection":"users","operation":"find.toArray","x":1330,"y":1340,"wires":[["b2fcdb70.502558"]]},{"id":"258b65a8.f7d88a","type":"http response","z":"605fe09c.e3a71","name":"","x":1885.75,"y":1290.25,"wires":[]},{"id":"84618155.a9823","type":"inject","z":"605fe09c.e3a71","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":640.7499771118164,"y":1475.500020980835,"wires":[["d823f0aa.34bea"]]},{"id":"e4f8c20d.162f3","type":"http request","z":"605fe09c.e3a71","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api/users","tls":"","x":962.5000152587891,"y":1480.0000224113464,"wires":[["6966369c.6446c8"]]},{"id":"d84178c.8f90e88","type":"debug","z":"605fe09c.e3a71","name":"","active":true,"console":"false","complete":"false","x":1271.500015258789,"y":1445.0000228881836,"wires":[]},{"id":"d823f0aa.34bea","type":"function","z":"605fe09c.e3a71","name":"Set data","func":"msg.headers = {\"token\": '596638764870b504180e5541'};\nreturn msg;","outputs":1,"noerr":0,"x":793.75,"y":1472.5,"wires":[["e4f8c20d.162f3"]]},{"id":"6966369c.6446c8","type":"json","z":"605fe09c.e3a71","name":"","x":1130.000015258789,"y":1463.750020980835,"wires":[["d84178c.8f90e88"]]},{"id":"e4867fec.744fd","type":"comment","z":"605fe09c.e3a71","name":"Prueba de obtención de todos los usuarios","info":"","x":925.0000152587891,"y":1411.250020980835,"wires":[]},{"id":"8e93506e.210cd","type":"http request","z":"605fe09c.e3a71","name":"","method":"GET","ret":"txt","url":"http://localhost:1880/api/users/59650a3470331393369dba2b","tls":"","x":950,"y":1600,"wires":[["c8d67112.13376"]]},{"id":"ddf85858.96cf18","type":"function","z":"605fe09c.e3a71","name":"Set data","func":"msg.headers = {\"token\": '596638764870b504180e5541'};\nreturn msg;","outputs":1,"noerr":0,"x":781.2499847412109,"y":1592.4999775886536,"wires":[["8e93506e.210cd"]]},{"id":"c8d67112.13376","type":"json","z":"605fe09c.e3a71","name":"","x":1117.5,"y":1583.7499985694885,"wires":[["bb70e1aa.73791"]]},{"id":"a162f36e.be894","type":"inject","z":"605fe09c.e3a71","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":628.2499618530273,"y":1595.4999985694885,"wires":[["ddf85858.96cf18"]]},{"id":"bb70e1aa.73791","type":"debug","z":"605fe09c.e3a71","name":"","active":true,"console":"false","complete":"false","x":1259,"y":1565.0000004768372,"wires":[]},{"id":"61752840.02ef88","type":"function","z":"605fe09c.e3a71","name":"Remove password hashed","func":"\ndelete msg.payload[\"password\"];\nreturn msg;","outputs":1,"noerr":0,"x":1648,"y":1295.25,"wires":[["258b65a8.f7d88a"]]},{"id":"b2fcdb70.502558","type":"function","z":"605fe09c.e3a71","name":"Remove password hashed","func":"for (i in msg.payload){\n    delete msg.payload[i][\"password\"];    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1561,"y":1436,"wires":[["258b65a8.f7d88a"]]},{"id":"3ec6aac2.e32b76","type":"comment","z":"605fe09c.e3a71","name":"Prueba de obtención de un usuario","info":"","x":905,"y":1537,"wires":[]},{"id":"66bab8be.55e848","type":"switch","z":"605fe09c.e3a71","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":1556,"y":1197,"wires":[["258b65a8.f7d88a"],["61752840.02ef88"]]},{"id":"282df317.0813fc","type":"mongodb2","z":"","uri":"mongodb://localhost/middleware","name":"Middleware","options":"","parallelism":"-1"}]